.hero_page{
    background-image: url("C:\Users\ngigi\OneDrive\Documents\Web Design Advanced\Coursework\APT4035Coursework\Morning.jpg");
}
.hero_cont{
    display: flex;
    flex-direction: column;
    margin: 1%;
    border-radius: 10px;
    height: 82vh;
    background-color: #9ddfef;
}
.hero_cont h3{
    color: red;
    padding-left: 1.5%;
    height: 18%;
}
.hero_cont h1{
    justify-content: flex-end;
    color: red;
    padding-top: 1%;
    padding-left: 1.5%;
}
.Time_icon{
    align-self:flex-end;
    width: 50%;
}