#hero_page{
    background-size: 100% 100%;
    border-radius: 10px;
    margin: 1.5%;
}
.hero_cont{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 82vh;
}
.hero_cont h3{
    color: black;
    padding-left: 1.5%;
    height: 70%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hero_cont h1{
    justify-content: flex-end;
    color: white;
    padding-top: 1%;
    padding-left: 1.5%;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Time_icon{
    align-self:flex-end;
    width: 50%;
}
#Welcome_text{
    font-family: 'Times New Roman', Times, serif;
}